@font-face {
    font-family: Roboto-Bold;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
}

.countries {
    width: "100%";
    border: 2px solid red;
    height: 98vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Roboto-Bold;
    color: #424647;
}

.countriesDetails,
.coutriesContinent {
    display: flex;
    flex-direction: column;
    margin: 60px;
    background-color: rgb(174, 178, 180);
    padding: 10px;
    border-radius: 5px;
}

h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

input {
    margin-bottom: 30px;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 1rem;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(23, 69, 121);
    box-shadow: 0 0 10px #83acd8;
}

input:focus {
    outline: none !important;
    border: 1px solid rgb(167, 201, 255);
    box-shadow: 0 0 10px #719ece;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    background-color: #fff;
    padding: 10px;
    margin: 2px;
}

.countriesContinentResults {
    height: 30vh;
    width: 20vw;
    overflow: auto;
}

label {
    margin-right: 10px;
}

.country__emoji {
    margin-right: 20px;
}
